
body {
    font-family: 'Hind', sans-serif;
    background: #FDFFFC;
    color: #333138;
}

.left {
   text-align: left;
   padding: 0.33em 0.66em 0.33em 0.66em;
   margin: .33em;
   border-radius: 3em;
}

.right {
    text-align: right;
    padding: 0.33em 0.66em 0.33em 0.66em;
    border-radius: 3em;
    opacity: 0.44;
 }

ul {
    width: 94%;
    padding: 0px;
    margin: auto;
}

li {
    margin: 0px;
    border-radius: 0.33em;
}

input {
    background: #FDFFFC;
    border: 1px solid darkgrey;
    border-radius: 0.33em;
}

button {
    color: white;
    border: none;
    border-radius: 0.33em;
    padding: .33em 0 0 0;
    width: 5em;
    /* -moz-box-shadow:    1px 1px 2px 2px #ccc;
    -webkit-box-shadow:  1px 1px 2px 2px #ccc;
    box-shadow:         1px 1px 2px 2px #ccc; */
}

.connect, #send {
    background: rgb(73,54,245);
    background: linear-gradient(94deg, rgba(73,54,245,1) 34%, rgba(88,54,245,1) 91%);
}

#client {
    min-width: 200px; 
    width: 100% !important;
    padding: .33em;
    background: #FDFFFC;
}

#send {
    margin-top: .66em;
}

.footer {
    display: none;
}

#lang {
    color: #FDFFFC;
}

#user {
    z-index: 100;
    position: fixed;
    padding-top: 2em;
    background: rgb(245,85,54);
    background: linear-gradient(94deg, rgba(245,85,54,1) 34%, rgba(245,130,54,1) 91%);
    border-bottom: 1em solid white;
}

#language-buttons {
    margin-top: 5em;
}